.tsbuildinfo
.cache
/out*/
release-npm-package/
release-standalone/
release-packages/
release-gcp/
release-images/
/plugins
/lib/coder-cloud-agent
.home
coverage
**/.DS_Store
# Failed e2e test videos are saved here
test/test-results
